:root {
  --primary-color: #0052d9;
  --second-color: #4787f0;
  --max-width: 1000px;
  --base-gray: #8b8b8b;
}

@font-face {
  font-family: HarmonyOS_Sans_SC_Regular;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/vhxubo/blog@main/fonts/HarmonyOS_Sans_SC_Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/vhxubo/blog@main/fonts/HarmonyOS_Sans_SC_Regular.woff")
      format("woff");
}

body {
  margin: 0;
  font-family: PingFang SC, HarmonyOS_Sans_SC_Regular, Helvetica Neue,
    Microsoft YaHei, sans-serif !important;
  font-weight: 400;
  color: #333;
  line-height: 1.75;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 0.25em solid #dcdcdc;
  color: var(--base-gray);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--second-color);
}

code {
  font-family: "Fira Code", monospace;
  background-color: #d4e3fc;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-size: 14px;
}
@supports (font-variation-settings: normal) {
  code {
    font-family: "Fira Code VF", monospace;
  }
}

time {
  color: var(--base-gray);
  font-size: small;
  user-select: none;
}

.header,
main {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  user-select: none;
}

.header a {
  color: #333;
}

.header__title {
  font-size: larger;
}

main {
  margin-bottom: 32px;
}

.post {
  margin-bottom: 18px;
}

.post__title {
  font-size: larger;
  font-weight: bold;
}

.post__date {
  color: var(--base-gray);
  font-size: small;
}
